<h1>Listing Todos</h1>

<table>
  <thead>
    <tr>
      <th>Todo</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for todo <- @todos do %>
    <tr>
      <td><%= todo.todo %></td>

      <td>
        <%= link "Show", to: Routes.todo_path(@conn, :show, todo) %>
        <%= link "Edit", to: Routes.todo_path(@conn, :edit, todo) %>
        <%= link "Delete", to: Routes.todo_path(@conn, :delete, todo), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Todo", to: Routes.todo_path(@conn, :new) %></span>
